{% extends '::base.html.twig' %}

{% block title %}Linktuesday{% endblock %}

{% block body %}
        <div class="yui-u first">
            <h2>Recent links</h2>
            <div class="inner">
            {% for row in recent %}
              {% include 'IngewikkeldLinkTuesdayBundle:Link:linkdetail.html.twig' with {'row': row, 'type':'recent'} %}
            {% endfor %}
            </div>
        </div>
        <div class="yui-u">
            <h2>Most popular links</h2>
            <div class="inner">
            {% for row in top %}
              {% include 'IngewikkeldLinkTuesdayBundle:Link:linkdetail.html.twig' with {'row': row, 'type':'top'} %}
            {% endfor %}
            </div>
        </div>
        <div class="yui-u">
            <h2>Popular this week</h2>
            <div class="inner">
            {% for row in weektop %}
              {% include 'IngewikkeldLinkTuesdayBundle:Link:linkdetail.html.twig' with {'row': row, 'type':'weektop'} %}
            {% endfor %}
            </div>
        </div>
{% endblock %}




